<div class="card" id="<%= dom_id task %>">
  <div class="card-body">
    <p>
      <strong>User:</strong>
      <%= task.user.email %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= task.title %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= task.description %>
    </p>
    <p>
      <strong>End date:</strong>
      <%= task.end_date %>
    </p>
    <p>
      <strong>Task status:</strong>
      <%= task.task_status %>
    </p>
    <p>
      <strong>Priority:</strong>
      <%= task.priority %>
    </p>
    <p>
      <strong>Image</strong> <br>
      <% if task.image.attached? %>
        <%= image_tag task.image, class: "img-thumbnail", style: "max-height: 300px;" %>
      <% end %>
    </p>
  </div>
</div>